body {
    background-image: url("/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: "Dosis", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-optical-sizing: auto;

    min-height: 100vh;
}


.an_button {
    margin: 0;
    padding: 8px;
    padding-inline: 16px;

    color: white;
    font-size: 32px;
    font-weight: medium;
    text-shadow: 1px 1px 5px rgb(0, 0, 0),1px 1px 25px rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;


}



